#options {
  height: auto;
	margin: 0 auto;
}

#meal {
  min-height: 800px;
  height: auto;
}


.option {
	float: left;
  height: auto;
  min-height: 180px;
	padding: 5px 10px 5px 10px;
	margin: 5px;
	background: #eee;
	text-align: center;
  
}
.food {
	width: 100px;
	padding: 0 5px;
	display: block;
	margin: 0 auto 3px;
	text-align: center;
	border: 1px solid #aaa;
	background: #ddd;	
	cursor: move;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
 
}

.food:hover {
  border: 2px dashed gold;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  background-color: #1f5858;
  transition: background-color 1000ms ease-in-out;
  -webkit-transition: background-color 1000ms ease-in-out;
  -moz-transition: background-color 1000ms ease-in-out;
  -o-transition: background-color 1000ms ease-in-out;
  -ms-transition: background-color 1000ms ease-in-out;
  color: gold;

}

.clear {
	clear: both;
}

#instructions {
  margin: 10px;
  text-align: center;
}

.invis {
  display: none;
}

.food:hover .invis {
  display: block;
}


#cart li:not(:first-child) {
  border: 2px solid black; 
  font-weight: bold; 
}

#cart li:not(:first-child):hover{
  border: 2px dashed gold;
}

#bold {
  font-weight: bold;
}
